*{
    margin:0;
    padding:0;
    font-family:'Tahoma'
}

body{
    background-color: white
}

#nav-menu{
    background-color: #0d536e;
    padding: 18px 10%;
    height: 40px;
    border:2px solid RGB(35,40,62)
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative
}

.nav{
    position:fixed;
    z-index:1;
    width:100%
}

/*======================*/
/*==================*/
.logo{
    width:140px;
    font-size:25px;
    color: white;
    text-decoration: none
}

.loco::after{
    content:'';
    width:0;
    height: 3px;
    color:white;
    position:absolute;
    left:0;
    bottom:-6px;
    transition:0.5s
}

.logo:hover::after{
    width:100%;
}

nav .fas{
    color:white;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 15px;
    position: relative;
    color: white;
}

nav ul li a {
    text-decoration: none;
    font-size:18px;
    color: white;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: orangered;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.8s;
}

nav ul li a:hover::after{
    width:100%;
    color: white;
}

nav .fas{
    display: none;
}

.bi-brightness-high{
    color: white;
    cursor:pointer;
}

#toggel1{
    display: none;
}

/* complete here */
@media only screen and (max-width:920px) {
    #toggle1{
        margin-left:30%;
        display: block;
    }
    nav.fas {
        display:block;
        font-size: 25px;
        color:white;
    }

    .nav{
        position:fixed;
        top:0;
        z-index:1;
    }

    nav ul {
       
        background-color: #080808;
        color: white;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;

    }

    nav ul li {
        display: block;
        margin: 25px;

    }
    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }

    nav .fas {
        display: block;
        font-size: 25px;

    }

    ul li {
        position: fixed;
        top: 0;
        right: 0;
    }

    ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fas {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}

/* -----------------------Home Section---------- */

#home{
    position: relative;
    height: 100vh;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    text-align:center;
}

#home .max-width{
    padding-top:8%;
    width:100%;
    display:flex;
}

#home .home-content .text-1{
    font-size:40px;
    color: #0d536e;
}

#home .home.content .text-2{
    font-size:70px;
    font-weight: 600;
    color:rgb(170, 29, 60);
}

#home .home-content .text-3{
    font-size:25px;
    margin-top: 3%;
}

#home .home-content .text-3 span{
    color: #0d536e;
    font-weight: 600;
}

#home .home-content a{
    display: inline-block;
    color: #0d536e;
    background-color: none;
    border:none;
    font-size: 25px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home-content {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-top: 100px;
}

.home-content>div:nth-child(2) {
    width: 300px;
    height: 350px;
}

.home-content>div:nth-child(2)>img {

    width: 100%;
    height: 90%;
    border-radius: 50%;
}

#resume-button-2{
    display: inline-block;
    background: none;
    border: 2px solid #0a3d52;
    font-size:25px;
    padding: 12px 36px;
    margin-top: 28px;
    font-weight: 400;
    border-radius: 6px;
    transition: all 0.3s ease;
    text-decoration: none;
    cursor: pointer;
}

#resume-button-2:hover{
    background:whitesmoke;
    border:1px solid white;
     box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

#resume-button-2:hover>a{
    color:#0a3d52;
}







